{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1>My Profile</h1>
            <br>
            <p>{{ app.user.email }}</p>
            <h2>{{ app.user.firstname ~" "~ app.user.lastname}}</h2>
            <p>Created at {{ app.user.createdAt|date("d/m/Y") }}</p>
            <br>
            <p>
                <a class="btn btn-primary btn-sm" href={{ path('app_profile_edit') }}>Edit Profile</a>
            </p>
        
        </div>
    
    </div>
{% endblock %}
