{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <div class = "row">
        <div class= "col-md-6 mx-auto mt-5">
            <h1 align="center">Create a new Video</h1>          
            {{ include('video/_form.html.twig') }}

            <a href="{{ path('app_video_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
