{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <div class = "row">
        <div class= "col-md-6 mx-auto mt-5">
            <h1 align="center">{{'videoCreate.title'|trans}}</h1>          
            {{ include('video/_form.html.twig') }}

            <a href="{{ path('app_video_index') }}">{{'videoCreateBtn.backToList'|trans}}</a>
        </div>
    </div>
{% endblock %}
