{% extends 'base.html.twig' %}

{% block title %}Edit Video{% endblock %}

{% block body %}
    <div class = "row justify-content-center">
        <div class="col-md-6 rounded p-5" style="background-color: rgb(222,226,230)">
            <h1>{{'videoEdit.title'|trans}}</h1>

            {{ include('video/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>


{% endblock %}
