body {
    background-color: white;
}
.alert {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 20px;
    color: white;
    text-align: center;
}
  
.alert-success {
    background-color: green;
}
  
.alert-error {
    background-color: red;
}
  
.alert-info {
    background-color: blue;
}

.card{
    position: relative;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card > .premium__badge:last-child{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(255,255,255,0.8);
    padding: 5px 8px;
}

.premium__badge p {
    margin: 0;
    line-height: 1;
    font-size: 10px;
}

.premium__badge i {
    color: yellow;
}