body {
    background-color: white;
}
.alert {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 20px;
    color: white;
    text-align: center;
}
  
.alert-success {
    background-color: green;
}
  
.alert-error {
    background-color: red;
}
  
.alert-info {
    background-color: blue;
}